<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An error ocurred processing ranking object</h1>
    <p>
      <strong>error:</strong> <%=@error_messsage%>
    </p>
    <p>
      <strong>Object:</strong> <%=@object%>
    </p>
    
    <p><strong>Please fix it!!!</strong></p>
  </body>
</html>